<form method="POST" action="{{ url_for('prof.enregistrer_appel') }}">
    <table>
        <tr>
            <th>Nom de l'élève</th>
            <th>Prénom</th>
            <th>Absent</th>
        </tr>
        {% for eleve in eleves %}
        <tr>
            <td>{{ eleve.nom }}</td>
            <td>{{ eleve.prenom }}</td>
            <td>
                <input type="checkbox" name="absents" value="{{ eleve.id }}">
            </td>
        </tr>
        {% endfor %}
    </table>

    <label for="id_matiere">Matière :</label>
    <select name="id_matiere">
        {% for matiere in matieres %}
        <option value="{{ matiere.id }}">{{ matiere.nom_matiere }}</option>
        {% endfor %}
    </select>

    <button type="submit">Enregistrer l'appel</button>
</form>
