{% extends "base_ele.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Espace Élève</h1>
    <p class="text-center">Bienvenue sur votre espace personnel.</p>

    <!-- Menu rapide -->
    <div class="d-flex justify-content-center mb-4">
        <a href="{{ url_for('eleve.emploi_du_temps_page_ele') }}" class="btn btn-primary mx-2">Emploi du temps</a>
        <a href="{{ url_for('eleve.notes_eleve') }}" class="btn btn-success mx-2">Mes notes</a>
        <a href="{{ url_for('eleve.absences_eleve') }}" class="btn btn-danger mx-2">Mes absences</a>
    </div>
</div>
{% endblock %}
